<%- include('partials/header.ejs') %>

        <h1>Welcome to the Earth Page</h1>
        <p>Click on a planet to know more about it:</p>
    <nav>  
        <a href="/mercury"> Mercury</a> <br>
        <a href="/venus"> Venus</a> <br>
        <a href="/earth"> Earth </a> <br>
        <img src="/img/earth.jpg" alt="The Solar System" />
    </nav>
    
     <h2> Earth Facts!</h2>
     <ul> 
         <li>365 Days </li>
         <li>4 Seasons </li>
         <li> The Earth is the densest planet in the Solar System</li>
         <li>The Earth tilts at roughly 66 degrees</li>
         <li>Earth doesn’t take 24 hours to rotate on its axis</li>
         <li>Earth is mostly iron, oxygen and silicon</li>
         <li>70% of the Earth’s surface is covered in water</li>
         <li> Over 7 Billion People live on Earth </li>
     </ul>
<%- include('partials/footer.ejs') %>