<%- include('partials/header.ejs') %>

        <h1>Welcome to the Venus Page</h1>
        <p>Click on a planet to know more about it:</p>
    <nav>  
        <a href="/mercury"> Mercury</a> <br>
        <a href="/venus"> Venus</a> <br>
        <a href="/earth"> Earth </a> <br>
        <img src="/img/venus.jpg" alt="venus" />
    </nav>
     <h2>Venus Facts!</h2>
    <ul>
        <li>Venus does not have any moons or rings.</li>
        <li>Venus is nearly as big as the Earth with a diameter of 12,104 km.</li>
        <li>Venus is thought to be made up of a central iron core, rocky mantle and silicate crust.</li>
        <li>A day on the surface of Venus (solar day) would appear to take 117 Earth days.</li>
        <li>A year on Venus takes 225 Earth days.</li>
        <li>The surface temperature on Venus can reach 471 °C.</li>
    </ul>
<%- include('partials/footer.ejs') %>